section.aboutme#aboutme
    .aboutme_desc.content
        h1.scroll_heading About Me
        p.scroll_para I am someone who is always consistent and learning. I hold <span class = "abt-emp-text networking">Bachelors in Networking</span> and have been working in a Network and IT support role for a year now.  
        p.scroll_para I also specialise in developing web apps in <span class = "abt-emp-text javascript">JavaScript</span>. Currently, I have been learning <span class = "abt-emp-text python">Py<span class = "th">th</span><span class = "on">on</span></span> to get myself into Systems and Network automation.
    .aboutme_image_con
        .photo-plate
            .photo-overlay
                .photoName
                    p Kunwar Arjun
            .photo-plate-effect
            img(src="./assets/mypic.jpg")
        .plain-plate 
        .mid-line-plate 
        .box-plate
            .box 
            .box 
            .box 
            .box            
            .box 
            .box 
            .box             
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box            
            .box 
            .box 
            .box             
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box            
            .box 
            .box 
            .box             
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box            
            .box 
            .box 
            .box             
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box            
            .box 
            .box 
            .box             
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
            .box 
       
        