section.canvas#webcanvas.fullContainer
    .project_desc.content
        h1.scroll_heading Canvas Projects
        p.scroll_para Visualising on web with HTML5 Canvas and javascript.    
    
    .swiper_section_container
        button.canvas_btn.canvas_btn_left 
            <i class="fa-solid fa-arrow-left-long"></i>
        button.canvas_btn.canvas_btn_right
            <i class="fa-solid fa-arrow-right-long"></i>
        .swiper.swiper_canvas
            .swiper-wrapper
                .swiper-slide
                    .slider.slide1
                        .slider_image_con
                            img.slider_image(src = "./assets/canvasstarfield.jpg")
                            a(href="https://euphonious-arithmetic-dc7fbf.netlify.app/" target="_blank") Starfield
                        .slider_desc_con
                            p Canvas starfield where you travel the space infinitely!. Change the settings for different effect.
                .swiper-slide
                    .slider.slide2
                        .slider_image_con
                            img.slider_image(src = "./assets/canvassort.jpg")
                            a(href="https://algorithmsvisualisation.netlify.app/" target="_blank") Sorting algorithms
                        .slider_desc_con
                            p Visualising few Sorting Algorithms in HTML canvas, such as Bubble sort, Comb sort, Insertion sort, Selection sort.
                .swiper-slide
                    .slider.slide3
                        .slider_image_con
                            img.slider_image(src = "./assets/canvastextrain.jpg")
                            a(href = "https://textrain.netlify.app/" target="_blank") Text rain
                        .slider_desc_con
                            p Vertical Rain of alphabets and digits that gives the effect of text rain as shown in the movie "The Matrix".  
        .canvas-swiper-scrollbar.swiper_scroll_con
            .swiper_scroll.canvas_swiper_scroll