section.hero#hero
    .particle_js#particles-js
    .hero_overlay
        .hero_text
            .hi.common_hero_text 
                .h_con 
                    h1 H
                .h_con 
                    h1 i
            .im.common_hero_text
                .h_con 
                    h1 I
                .h_con 
                    h1 '
                .h_con 
                    h1 m
            .orzon.common_hero_text
                .h_con 
                    h1 A
                .h_con 
                    h1 r
                .h_con 
                    h1 j
                .h_con 
                    h1 u
                .h_con 
                    h1 n
                .h_con 
                    h1 ,
            .web.common_hero_text 
                .h_con 
                    h1 W
                .h_con 
                    h1 e
                .h_con 
                    h1 b
            .developer.common_hero_text 
                .h_con 
                    h1 D
                .h_con 
                    h1 e
                .h_con 
                    h1 v
                .h_con 
                    h1 e
                .h_con 
                    h1 l
                .h_con 
                    h1 o
                .h_con 
                    h1 p
                .h_con 
                    h1 e
                .h_con 
                    h1 r
        .hero_button
            button#button_aboutme My projects
    .hero_circle_wrap 
        .hero_circle_con 
            .hero_circle_main.c_one
                .circle

