section.linkBtnSection.linkBtnSection1.halfContainer 
    .link_btn_Wrapper
        button.linkBtn_main.linkBtn_main1#githubButton
            span.LB_text Github
            //span.LB_ColorBG
        .LB_Btn_bg
        
