//--SHOPCART
section.projects.shopCart#mainprojects.fullContainer
    .project_image_con.container
        .project_image
            .project_image_text
                a(href="https://projectshopcart.netlify.app/" target = "_blank") Full stack application-Shopcart
            img.image(src="./assets/shopcart.jpg")
        .project_image_desc 
            h1 Technology used
            p React, Graphql(Apollo), Node, Express, Typescript, Mongodb, Stripe

    .project_desc.content
        h1 Full stack webstore
        p Fully responsive, custom, Full stack web store application, where you can login, add products to your cart or wishlist, proceed to checkout upon payment and keep track of your shipping status.

//--LANDING-IMAGE
section.projects.p_alignRight.landingImage.fullContainer
    .project_image_con.container
        .project_image
            .project_image_text
                a(href="https://photoslanding.netlify.app/" target= "_blank") Motion UI/UX Gallery website
            img.image(src="./assets/landing.jpg")
        .project_image_desc 
            h1 Technology used
            p Gulp, Pug, Sass, CSS3, Javascript, Gsap(Animation) 

    .project_desc.content
        h1 Gallery website
        p Inspired from one of Awwwards winning websites, I created this gallery website with motion in mind. This website is fully responsive and, with the power of gsap, it is smooth in Animation as well. 