section.uiux#uiux.fullContainer
    .project_desc.content
        h1 UI/UX Projects
        p Few of mine small custom front-end projects / models, built with HTML, CSS3, JS together with other UI/UX motion libraries.     
    
    .swiper_section_container
        button.s_btn.left 
            <i class="fa-solid fa-arrow-left-long"></i>
        button.s_btn.right
            <i class="fa-solid fa-arrow-right-long"></i>
        .swiper.swiper_uiux
            .swiper-wrapper
                .swiper-slide
                    .slider.slide1
                        .slider_image_con
                            img.slider_image(src = "./assets/uiux1.jpg")
                            a(href="https://mblconceptuiux.netlify.app/" target = "_blank") Mobile card concept
                        .slider_desc_con
                            p Implementation of Simple mobile card Ui/Ux concept on web.
                .swiper-slide
                    .slider.slide2
                        .slider_image_con
                            img.slider_image(src = "./assets/uiux2.jpg")
                            a(href= "https://parallexdemo.netlify.app/" target = "_blank") Parallex on web
                        .slider_desc_con
                            p Beautiful demonstration of parallex on web, keep scrolling!!.
                .swiper-slide
                    .slider.slide3
                        .slider_image_con
                            img.slider_image(src = "./assets/uiux3.jpg")
                            a(href="https://bookslanding.netlify.app/" target = "_blank") Landing page
                        .slider_desc_con
                            p Wavey landing page of a bookshop.
                .swiper-slide
                    .slider.slide4
                        .slider_image_con
                            img.slider_image(src = "./assets/uiux4.jpg")
                            a(href="https://silver-seahorse-90d275.netlify.app/" target = "_blank") Css animation
                        .slider_desc_con
                            p Web art on motion, created with Css only.
        .uxui-swiper-scrollbar