@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Mono:100,300,300i,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600;700;800;900&family=Rubik+Mono+One&display=swap");
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden !important;
  margin: 0;
  overflow-y: hidden;
  min-height: 600px;
  height: 100vh !important;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  width: 100%;
  overflow-x: hidden;
}

/*Common Animations */
button.projects_button,
button.video_button {
  margin-bottom: 20px;
  background: none;
  box-shadow: none !important;
  justify-self: start;
}

#algorithm_container {
  box-shadow: 0px 0px 5px 2px #ccc;
}

#projects {
  background: #ff5438;
  background: #fff;
}

#algorithm_heading {
  line-height: 1.1;
  color: #300a44;
}

#algorithm_paragraph {
  color: #54565a;
}

.swiper_scroll_con {
  overflow-x: hidden;
  opacity: 0;
}

.swiper_scroll {
  left: 0%;
  top: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e8e4d5;
  z-index: 99;
}

.canvas_swiper_scroll {
  background: #f6f4ee;
}

@media only screen and (min-height: 800px) {
  .fullContainer {
    height: 790px !important;
    min-height: 780px !important;
  }
  .halfContainer {
    min-height: 500px !important;
  }
}
section.hero {
  background: #fff;
  font-size: 16px;
  height: calc(100vh - 45px);
  overflow: hidden;
  position: relative;
  width: 100%;
}
section.hero #particles-js {
  height: 100%;
  width: 100%;
}
section.hero .hero_overlay {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1.8fr 1fr;
  grid-row-gap: 22px;
}
section.hero .hero_overlay .hero_text {
  width: 100%;
  overflow: hidden;
  position: relative;
  justify-self: start;
  align-self: end;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 6px;
}
section.hero .hero_overlay .hero_text .common_hero_text {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5px;
}
section.hero .hero_overlay .hero_text .common_hero_text .h_con h1 {
  color: #300a44;
  font-weight: 900;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 36px;
  line-height: 1.1;
}
section.hero .hero_overlay .hero_text .orzon .h_con h1 {
  color: #ff5438;
}
section.hero .hero_overlay .hero_text .heroTitleContainer {
  position: relative;
  min-height: 120px;
  height: auto;
  display: grid;
}
section.hero .hero_overlay .hero_text .heroTitleContainer .heroTitleWrapper {
  width: 100%;
  height: auto;
  position: absolute;
}
section.hero .hero_overlay .hero_text .heroTitleContainer .heroTitleWrapper p {
  position: absolute;
  min-height: auto;
  color: #300a44;
  font-weight: 900;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 36px;
  margin: 0;
  line-height: 1.1;
  word-spacing: normal;
}
section.hero .hero_overlay .hero_button button {
  outline: none;
  border: none;
  width: 160px;
  border-radius: 50px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  background: #4716ed;
  color: #fff;
  padding: 16px 25px 17px;
  box-shadow: 0 2px 4px rgba(33, 37, 41, 0.2);
}
section.hero .hero_overlay .hero_button button a {
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
}
section.hero .hero_overlay .hero_button button a:hover {
  text-decoration: underline;
}
section.hero .hero_overlay .hero_button button:hover {
  cursor: pointer;
  font-weight: 500;
  transition: font-weight 0.5s ease-in-out;
  text-decoration: underline;
  background: #1900bc;
  transition: background 0.3s ease-in-out;
}
section.hero .hero_overlay .hero_button button:focus {
  outline: none;
}
section.hero .hero_circle_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.8fr 1fr;
  grid-row-gap: 22px;
}
section.hero .hero_circle_wrap .hero_circle_con {
  position: relative;
  grid-area: 1/2/2/3;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  align-self: end;
  justify-self: center;
}
section.hero .hero_circle_wrap .hero_circle_con .c_w {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -80px;
  left: -80px;
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .c_i {
  border-radius: 50%;
  position: absolute;
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .c_i .c {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_one {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_one .c_one {
  background: rgba(59, 16, 151, 0.3490196078);
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_two {
  height: 60px;
  width: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_two .c_two {
  background: rgba(59, 16, 151, 0.6705882353);
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_three {
  height: 80px;
  width: 80px;
  top: 70%;
  left: 50%;
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_three .c_three {
  background: rgba(59, 16, 151, 0.5333333333);
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_four {
  height: 40px;
  width: 40px;
  top: 100%;
  left: 70%;
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_four .c_four {
  background: rgba(255, 83, 56, 0.7294117647);
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_five {
  height: 100px;
  width: 100px;
}
section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_five .c_five {
  background: rgba(22, 237, 151, 0.4431372549);
}

.web,
.developer {
  display: none !important;
}

@media only screen and (min-width: 260px) {
  section.hero .hero_overlay .hero_text .heroTitleContainer {
    position: relative;
    min-height: 80px;
    height: auto;
    display: grid;
  }
  section.hero .hero_overlay .hero_text .heroTitleContainer .heroTitleWrapper p {
    position: absolute;
    min-height: auto;
    color: #300a44;
    font-weight: 900;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 36px;
    margin: 0;
    line-height: 1.1;
    word-spacing: normal;
  }
}
@media only screen and (min-width: 300px) {
  section.hero .hero_overlay .hero_text .heroTitleContainer .heroTitleWrapper p {
    word-spacing: 500px;
  }
}
@media only screen and (min-width: 640px) {
  section.hero {
    background: #fff;
    font-size: 16px;
    height: calc(100vh - 70px);
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  section.hero #particles-js {
    height: 100%;
    width: 100%;
  }
  section.hero .hero_overlay {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1.5fr 1fr;
    grid-row-gap: 40px;
  }
  section.hero .hero_overlay .hero_text {
    grid-column-gap: 18px;
  }
  section.hero .hero_overlay .hero_text .common_hero_text {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }
  section.hero .hero_overlay .hero_text .common_hero_text .h_con h1 {
    font-size: 50px;
    line-height: 1.1;
    overflow-wrap: break-word;
  }
  section.hero .hero_overlay .hero_text .heroTitleContainer {
    position: relative;
    min-height: 110px;
  }
  section.hero .hero_overlay .hero_text .heroTitleContainer .heroTitleWrapper {
    position: absolute;
  }
  section.hero .hero_overlay .hero_text .heroTitleContainer .heroTitleWrapper p {
    position: absolute;
    min-height: auto;
    color: #300a44;
    font-weight: 900;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 50px;
    margin: 0;
    line-height: 1.1;
    word-spacing: 500px;
  }
  section.hero .hero_circle_wrap {
    position: absolute !important;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.8fr 1fr;
    grid-row-gap: 22px;
  }
  section.hero .hero_circle_wrap .hero_circle_con {
    position: relative;
    grid-area: 1/2/2/3;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    align-self: end;
    justify-self: center;
  }
  section.hero .hero_circle_wrap .hero_circle_con .c_w {
    width: 300px;
    height: 300px;
    top: -130px;
    left: -130px;
  }
  section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_one {
    width: 300px;
    height: 300px;
  }
  section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_two {
    height: 80px;
    width: 80px;
  }
  section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_three {
    height: 120px;
    width: 120px;
  }
  section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_four {
    height: 60px;
    width: 60px;
  }
  section.hero .hero_circle_wrap .hero_circle_con .c_w .ci_five {
    height: 150px;
    width: 150px;
  }
}
@media only screen and (min-width: 700px) {
  section.hero .hero_overlay .hero_text .heroTitleContainer {
    min-height: 55px;
  }
  section.hero .hero_overlay .hero_text .heroTitleContainer .heroTitleWrapper p {
    word-spacing: normal !important;
  }
}
@media only screen and (min-width: 900px) {
  section.hero .hero_circle_wrap .hero_circle_con {
    position: relative;
    grid-area: 1/2/2/3;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    align-self: end;
    justify-self: start;
  }
}
@media only screen and (min-width: 1200px) {
  section.hero {
    background: #fff;
    font-size: 16px;
    height: calc(100vh - 70px);
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  section.hero #particles-js {
    height: 100%;
    width: 100%;
  }
  section.hero .hero_overlay {
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1.5fr 1fr;
    grid-row-gap: 40px;
  }
  section.hero .hero_overlay .hero_text {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  section.hero .hero_overlay .hero_text .common_hero_text {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }
  section.hero .hero_overlay .hero_text .common_hero_text .h_con h1 {
    font-size: 50px;
    line-height: 1.1;
    overflow-wrap: break-word;
  }
}
@media only screen and (min-width: 1400px) {
  section.hero {
    background: #fff;
    font-size: 16px;
    height: calc(100vh - 70px);
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  section.hero .hero_overlay {
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1.5fr 1fr;
    grid-row-gap: 40px;
  }
  section.hero .hero_overlay .hero_text {
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  section.hero .hero_overlay .hero_text .common_hero_text {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }
  section.hero .hero_overlay .hero_text .common_hero_text .h_con h1 {
    line-height: 1.1;
    overflow-wrap: break-word;
    font-size: 56px;
  }
  section.hero .hero_overlay .hero_text .heroTitleContainer {
    position: relative;
    min-height: 60px;
  }
  section.hero .hero_overlay .hero_text .heroTitleContainer .heroTitleWrapper p {
    font-size: 56px;
  }
  section.hero .hero_overlay .hero_button {
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
  }
}